{% extends "base.html" %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='page.css') }}">
<link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='w3.css') }}">
<script src="{{url_for('static', filename='jscolor.js')}}"></script>
<link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='colorpicker.css') }}">

<script type="text/javascript">
     function submitJS(){
        var image = document.getElementById("ques-img").src;
        var colorchoice = document.getElementById("valDisplay").innerHTML;
        window.alert("Image: " + image + "Color Chosen:" + colorchoice);

        //window.open("localhost/survey_one/next_question", "_self");
     }

     </script>
<!-- This is for timeout of the question image--> 
<script type="text/javascript">

window.onload=function(){setTimeout(function() {
  document.getElementById('ques-img').style.visibility='hidden';
  document.querySelector(".swatch").innerHTML="";

}, 10*1000);}

</script>


{% endblock %}
{% block content %}

<div style="text-align: center;" class="w3-row">
  <!-- <div class="w3-col w3-container m6 l6">
   --> 
<center>

<!-- <div style="padding-left:20px; padding-right: 20px;"><h4>Color </h4></div><br/><br/>
 -->  
  
  <div class="w3-col w3-container m6 l6" id="">  
  <img id="ques-img" src="{{image}}" style="z-index: +2;border-style: solid;
  border-color:black;"></img>
  </div>
  <div class="w3-col w3-container m6 l6" id="">  
   <div class="swatch" style="background-color: hsla(170, 1%, 50%, 1);"> </div>
  </div>  

 
      <br/><br/><br/><br/><br/> 
       <h3 style="visibility:hidden;" class="colorname">hsla color</h3> 

    <form method="POST" action="">
      <h6>HUE</h6>
      <div class="hue"><input class="colorpickerinputs" name="hue" type="range" min="1" max="360" value="180"></div>

      <h6>SATURATION</h6>
      <div class="satcolor" >
        <div class="sat"><input class="colorpickerinputs" name="sat" type="range" min="1" max="100" value="100"></div>
      </div>

      <h6>LIGHT</h6>
      <div class="light">
      <input class="colorpickerinputs" name="light" type="range" min="1" max="100" value="55">
      </div>
      <br/> 
      <br/>
      <center>
       <input class="survey_buttons" type="submit" id="submitbutton" value="Next">
       </center>
    
</center>
<!--<div class="w3-col w3-container m6 l6">-->

<!--Have to add the JS script  at the end of the body-->



</form>



</div>
<script src="{{url_for('static', filename='colorpicker.js')}}"></script>


</body>


{% endblock %}